<div class="video-container"
     [class.drag-over]="isDragOver()"
     [class.aspect-default]="aspectMode() === 'default'"
     [class.aspect-4-3]="aspectMode() === '4:3'"
     [class.aspect-16-9]="aspectMode() === '16:9'"
     [class.aspect-fit]="aspectMode() === 'fit'"
     (dblclick)="onDoubleClick()"
     (dragover)="onDragOver($event)"
     (dragleave)="onDragLeave($event)"
     (drop)="onDrop($event)">
  <video #videoElement crossorigin="anonymous">
    @for (track of subtitleTracks(); track track.index) {
      <track
        kind="subtitles"
        [src]="getSubtitleUrl(track)"
        [srclang]="track.language"
        [label]="track.title"
        [default]="track.default"
      />
    }
  </video>
</div>
