<div class="video-container"
     [class.drag-over]="isDragOver()"
     [class.drag-invalid]="isDragInvalid()"
     [class.aspect-default]="aspectMode() === 'default'"
     [class.aspect-4-3]="aspectMode() === '4:3'"
     [class.aspect-16-9]="aspectMode() === '16:9'"
     [class.aspect-fit]="aspectMode() === 'fit'"
     (dblclick)="onDoubleClick()"
     (dragover)="onDragOver($event)"
     (dragleave)="onDragLeave($event)"
     (drop)="onDrop($event)">
  <video #videoElement crossorigin="anonymous"></video>
  @if (subtitleText()) {
    <div class="subtitle-overlay" [innerHTML]="sanitizedSubtitleHtml()"></div>
  }
</div>
