<div class="control-container-seek">

</div>
<div class="control-container-buttons">
  <div class="control-container-left">
    <button><i class="fa-solid fa-eject"></i></button>
    <button><i class="fa-solid fa-shuffle"></i></button>
    <button><i class="fa-solid fa-repeat"></i></button>
  </div>
  <div class="control-container-center">
    <button><i class="fa-solid fa-backward-step"></i></button>
    <button>
      <i class="fa-solid fa-play"></i>
      <!--    <i class="fa-solid fa-pause"></i>-->
      <!--    <i class="fa-solid fa-stop"></i>-->
    </button>
    <button><i class="fa-solid fa-forward-step"></i></button>
  </div>
  <div class="control-container-right">
    <button>
      <i class="fa-solid fa-volume-xmark"></i>
      <!--    <i class="fa-solid fa-volume-off"></i>-->
      <!--    <i class="fa-solid fa-volume-low"></i>-->
      <!--    <i class="fa-solid fa-volume-high"></i>-->
    </button>
    <input type="range"/>
  </div>
</div>
