<div class="seek-bar-container">
  <progress value="60" max="100"></progress>
</div>
<div class="control-container">
  <div class="control-container-left">
    <div class="control-container-wrapper">
      <button><i class="fa-solid fa-eject"></i></button>
      <button><i class="fa-solid fa-shuffle"></i></button>
      <button><i class="fa-solid fa-repeat"></i></button>
    </div>
  </div>
  <div class="control-container-center">
    <div class="control-container-wrapper">
      <button><i class="fa-solid fa-backward-step"></i></button>
      <button><i class="fa-solid fa-play"></i></button>
      <button><i class="fa-solid fa-forward-step"></i></button>
    </div>
  </div>
  <div class="control-container-right">
    <div class="control-container-wrapper">
      <button><i class="fa-solid fa-volume-high"></i></button>
      <div class="volume-container">
        <input type="range" min="0" max="100" value="50"/>
      </div>
    </div>
  </div>
</div>
