<div class="button-group">
  <button (click)="onBackward($event)" [disabled]="!hasTrack() || !canSkipBackward()" title="Previous (Shift: skip back)">
    <i [class]="backwardIcon()"></i>
  </button>
  <button (click)="onPlayPause($event)" [disabled]="!hasTrack()" title="Play/Pause (Shift: Stop)">
    <i [class]="playPauseIcon()"></i>
  </button>
  <button (click)="onForward($event)" [disabled]="!hasTrack() || !canSkipForward()" title="Next (Shift: skip forward)">
    <i [class]="forwardIcon()"></i>
  </button>
  <button (click)="onExitMiniplayer()" title="Exit miniplayer">
    <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
  </button>
</div>
