@use 'variables' as *;
@use 'mixins' as *;

:host {
  display: flex;
  justify-content: center;
  pointer-events: auto;
  padding: 1rem;

  .button-group {
    display: inherit;
    align-items: center;
    border-radius: 0.25rem;
    border: 0.0625rem solid $black-50;
    outline: 0.0625rem solid $white-15;
    backdrop-filter: blur(16px);

    @include light-mode {
      outline-color: $white-30;
    }
  }

  button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-75);
    background: $btn-glass;
    border: none;
    border-left: 0.0625rem solid $white-15;
    border-right: 0.0625rem solid $black-30;
    outline: none;
    font-size: 0.75rem;
    padding: 0.5rem;

    @include light-mode {
      border-left-color: $white-30;
    }

    &:first-of-type {
      border-left: none;
      border-top-left-radius: 0.175rem;
      border-bottom-left-radius: 0.175rem;
    }

    &:last-of-type {
      border-right: none;
      border-top-right-radius: 0.175rem;
      border-bottom-right-radius: 0.175rem;
    }

    &:hover:not(:disabled) {
      color: var(--text-primary);
      background: $btn-glass-hover;
    }

    &.active {
      color: $color-primary-light;
      background: linear-gradient(to bottom,
        rgba(109, 179, 242, 0.3) 0%,
        rgba(84, 163, 238, 0.3) 50%,
        rgba(54, 144, 240, 0.3) 51%,
        rgba(30, 105, 222, 0.3) 100%);
    }

    &:disabled {
      color: var(--text-30);
      cursor: not-allowed;
    }
  }
}
