:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 0.5rem 1rem;

  .seek-bar-container {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    span {
      font-size: 0.75rem;
      color: rgba(255, 255, 255, 0.5);
      min-width: 2.5rem;
      font-variant-numeric: tabular-nums;

      &.current {
        text-align: right;
      }

      &.total {
        text-align: left;
      }
    }

    progress {
      flex: 1;
      height: 0.5rem;
      appearance: none;
      -webkit-appearance: none;
      border-radius: 0.25rem;
      border: 0.0625rem solid rgba(0, 0, 0, 0.75);
      outline: 0.0625rem solid rgba(255, 255, 255, 0.15);
      cursor: pointer;

      &::-webkit-progress-bar {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
      }

      &::-webkit-progress-value {
        background: linear-gradient(to bottom, #6db3f2 0%, #1e69de 100%);
        border-radius: 0.25rem;
      }
    }
  }

  .control-groups-container {
    display: flex;
    padding: 0 0.75rem;

    .control-group {
      display: flex;
      align-items: center;
      flex: 1;

      &.left {
        justify-content: start;
        min-width: 0;
      }

      &.center {
        justify-content: center;
        gap: 1.5rem;
      }

      &.right {
        justify-content: right;
      }
    }
  }

  .media-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding-right: 1.5rem;
  }

  .button-group {
    display: inherit;
    align-items: center;
    border-radius: 0.25rem;
    border: 0.0625rem solid rgba(0, 0, 0, 0.5);
    outline: 0.0625rem solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(16px);

    &.left button, &.right button {
      width: 2rem;
      height: 2rem;
    }

    &.right button:last-of-type {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &.center button {
      width: 4rem;
      height: 4rem;
    }

    &.right {
      align-items: stretch;
    }
  }

  button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.75);
    background: linear-gradient(to bottom,
      rgba(242, 246, 248, 0.25) 0%,
      rgba(216, 225, 231, 0.25) 50%,
      rgba(181, 198, 208, 0.25) 51%,
      rgba(224, 239, 249, 0.25) 100%);
    border: none;
    border-left: 0.0625rem solid rgba(255, 255, 255, 0.15);
    border-right: 0.0625rem solid rgba(0, 0, 0, 0.3);
    font-size: 1rem;

    &:first-of-type {
      border-left: none;
      border-top-left-radius: 0.175rem;
      border-bottom-left-radius: 0.175rem;
    }

    &:last-of-type {
      border-right: none;
      border-top-right-radius: 0.175rem;
      border-bottom-right-radius: 0.175rem;
    }

    &:hover:not(:disabled) {
      color: white;
      background: linear-gradient(to bottom,
        rgba(242, 246, 248, 0.4) 0%,
        rgba(216, 225, 231, 0.4) 50%,
        rgba(181, 198, 208, 0.4) 51%,
        rgba(224, 239, 249, 0.4) 100%);
    }

    &.active {
      color: #6db3f2;
      background: linear-gradient(to bottom,
        rgba(109, 179, 242, 0.3) 0%,
        rgba(84, 163, 238, 0.3) 50%,
        rgba(54, 144, 240, 0.3) 51%,
        rgba(30, 105, 222, 0.3) 100%);
    }

    &:disabled {
      color: rgba(255, 255, 255, 0.3);
      cursor: not-allowed;
    }
  }

  .volume-container {
    display: inherit;
    background: linear-gradient(to bottom,
      rgba(242, 246, 248, 0.25) 0%,
      rgba(216, 225, 231, 0.25) 50%,
      rgba(181, 198, 208, 0.25) 51%,
      rgba(224, 239, 249, 0.25) 100%);
    width: 4rem;
    border-top-right-radius: 0.175rem;
    border-bottom-right-radius: 0.175rem;

    input[type=range] {
      width: 3rem;
      appearance: none;
      background: transparent;

      &::-webkit-slider-runnable-track {
        height: 0.5rem;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 0.25rem;
        border: 0.0625rem solid rgba(0, 0, 0, 0.5);
        outline: 0.0625rem solid rgba(255, 255, 255, 0.15);
      }

      &::-webkit-slider-thumb {
        appearance: none;
        width: 0.8rem;
        height: 0.8rem;
        margin-top: -0.2rem;
        border-radius: 50%;
        background: linear-gradient(to bottom, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
        outline: 0.0625rem solid black;
        box-shadow: 0 0 0.25rem 0 black;
        cursor: pointer;
      }
    }
  }
}
