<div class="seek-bar-container">
  <span class="time-display current">{{ currentTime() }}</span>
  <progress [value]="progress()" max="100" (mousedown)="onProgressMouseDown($event)"></progress>
  <span class="time-display total">{{ totalDuration() }}</span>
</div>
<div class="control-groups-container">
  <div class="control-group left">
  </div>
  <div class="control-group center">
    <div class="button-group left">
      <button tabindex="-1" (click)="onEject()" (mouseup)="$any($event.currentTarget).blur()" [disabled]="!canOpenFiles()" title="">
        <i class="fa-solid fa-eject"></i>
      </button>
      <button tabindex="-1" (click)="onOpenUrl()" (mouseup)="$any($event.currentTarget).blur()" [disabled]="!canOpenFiles()" title="Open URL">
        <i class="fa-solid fa-link"></i>
      </button>
      <button tabindex="-1" (click)="onShuffle()" (mouseup)="$any($event.currentTarget).blur()" [disabled]="!hasTrack()" [class.active]="isShuffleEnabled()" title="Shuffle">
        <i class="fa-solid fa-shuffle"></i>
      </button>
      <button tabindex="-1" (click)="onRepeat()" (mouseup)="$any($event.currentTarget).blur()" [disabled]="!hasTrack()" [class.active]="isRepeatEnabled()" title="Repeat">
        <i class="fa-solid fa-repeat"></i>
      </button>
    </div>
    <div class="button-group center">
      <button tabindex="-1" (click)="onBackward($event)" (mouseup)="$any($event.currentTarget).blur()" [disabled]="!hasTrack() || !canSkipBackward()" title="Previous (Shift: skip back)">
        <i [class]="backwardIcon()"></i>
      </button>
      <button tabindex="-1" (click)="onPlayPause($event)" (mouseup)="$any($event.currentTarget).blur()" [disabled]="!hasTrack()" title="Play/Pause (Shift: Stop)">
        <i [class]="playPauseIcon()"></i>
      </button>
      <button tabindex="-1" (click)="onForward($event)" (mouseup)="$any($event.currentTarget).blur()" [disabled]="!hasTrack() || !canSkipForward()" title="Next (Shift: skip forward)">
        <i [class]="forwardIcon()"></i>
      </button>
    </div>
    <div class="button-group right">
      <button tabindex="-1" (click)="onMuteToggle()" (mouseup)="$any($event.currentTarget).blur()" [class.muted]="isMuted()" title="Mute/Unmute">
        <i [class]="volumeIcon()"></i>
      </button>
      <div class="volume-container">
        <div class="volume-slider" (mousedown)="onVolumeMouseDown($event)">
          <progress [value]="volume()" max="100"></progress>
          <div class="volume-thumb" [style.left.%]="volume()"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="control-group right">
    <div class="button-group left">
      <button tabindex="-1" (click)="onToggleFullscreen()" (mouseup)="$any($event.currentTarget).blur()" [disabled]="!hasTrack() || isConfigOpen()" [title]="isFullscreen() ? 'Exit fullscreen' : 'Enter fullscreen'">
        <i [class]="isFullscreen() ? 'fa-solid fa-window-restore' : 'fa-solid fa-tv'"></i>
      </button>
      <button tabindex="-1" (click)="onEnterMiniplayer()" (mouseup)="$any($event.currentTarget).blur()" [disabled]="!hasTrack() || isConfigOpen()" title="Enter miniplayer">
        <i class="fa-solid fa-picture-in-picture"></i>
      </button>
    </div>
  </div>
</div>
